extends ../_template

block variables
  - var title = 'О нас'
  - var activeItem = 1

block content
  h1.main-title #{title}
  .about-wrapper
    .about.item-1
      .about__img
      .about__text
        | Мы рады приветствовать Вас в нашем ателье, мы расположены в 3 минутах от
        | метро Университет в Москве.&nbsp;
        a(href="#footer") Наш адрес.
    hr
    .about.about_reverse.item-2
      .about__img
      .about__text
        | У нас представлен широкий ассортимент итальянских тканей на любой вкус,
        | среди них оригинальные ткани ведущих мировых модельеров
    hr
    .about.item-3
      .about__img
      .about__text
        | У нас есть все необходимое оборудование для самых сложных изделий,
        | а для наших мастеров созданы комфортные условия для работы,
        | чтобы ничего не отвлекало от желания сделать красивую вещь
    hr
    .about.about_reverse.item-4
      .about__img
      .about__text
        | Просторные и светлые примерочные помогут портному рассмотреть
        | все параметры вашей фигуры, чтобы сшитая вещь сидела как нелья лучше
    hr
    .about.item-5
      .about__img
      .about__text
        | В нашем ателье помимо широкого выбора ткани представлены образцы меха
        | для более сложных и комбинированных изделий