extends ../_template

block variables
  - var title = 'Контакты'
  - var activeItem = 6

block content
  .contact-wrapper
    .contact.about_item-1
      .contact__img#map
      .contact__data
        .contact__adress
          .contact__adress-title Адрес:
          .contact__adress-this Москва, Ломоносовский проспект, 25
        .contact__tel
          .contact__tel-title Телефон:
          .contact__tel-this 8-910-8884444