extends ../_template

block variables
  - var title = 'Ателье'
  - var activeItem = 3

block content
  h1.main-title #{title}
  .studio-wrapper
    .studio
      .studio__img.item-1
      .studio__text.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis, nesciunt, nobis! Adipisci aspernatur, aut, commodi cum delectus eius exercitationem laborum, necessitatibus nihil nostrum pariatur similique temporibus. Asperiores , reprehenderit sequi
    hr
    .studio.studio_reverse
      .studio__img.item-2
      .studio__text.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis, nesciunt, nobis! Adipisci aspernatur, aut, commodi cum delectus eius exercitationem laborums earum veritatis. Aliquam animi architecto facere minus necessitatibus qui.
    hr
    .studio
      .studio__img.item-3
      .studio__text.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis, nesciunt, nobis! Adipisci aspernatur dignissimos earum veritatis. Aliquam animi architecto facere minus necessitatibus qui, reprehenderit sequi. Debitis
    hr
    .studio.studio_reverse
      .studio__img.item-4
      .studio__text.
        aspernatur, aut, commodi cum delectus eius exercitationem laborum, necessitatibus nihil nostrum pariatur similique temporibus. Asperiores aspernatur dignissimos earum veritatis
    hr
    .studio
      .studio__img.item-5
      .studio__text.
        Lorem, aut, commodi cum delectus eius exercitationem laborum, necessitatibus nihil nostrum pariatur similique temporibus. Asperiores aspernatur dignissimos earum veritatis. Ali
    hr
    .studio.studio_reverse
      .studio__img.item-6
      .studio__text.
        Loremaut, commodi cum delectus eius exercitationem laborum, necessitatibus nihil nostrum pariatur similique temporibus. Asperiores aspernatur dignissimos earum veritatis. Aliqu
    hr
    .studio
      .studio__img.item-7
      .studio__text.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis, nesciunt, nobis! Adipisci aspernatur, aut, commodi cum delectus eius exercitationem laborum, necessitatibus n
    hr
    .studio.studio_reverse
      .studio__img.item-8
      .studio__text.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis, nesciunt, nobis! Adipisci aspernatur, aut, commodi cum delectus eius exercitationem laborum, necessitatibus n
    hr
    .studio
      .studio__img.item-9
      .studio__text.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis, nesciunt, nobis! Adipisci aspernatur, aut, commodi cum delectus eius exercitationem laborum, necessitatibus nihil nostrum pariatur similique temporibus. Asperiores aspernatur dignissimos earum veritatis. Aliquam animi architecto facere minus necessitatibus qui, .