extends ../_template

block variables
  - var title = 'Ткани'
  - var activeItem = 2

block content
  .tissue-wrapper
    .tissue.barhat
      .tissue__img
      .tissue__description
        h2.tissue__title Бархат
        .tissue__text.
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet culpa incidunt, magni praesentium sed tenetur. Commodi esse ex qui quibusdam.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet culpa incidunt, ma
        .tissue__link
          a.tissue__url(href='/tissue/barhat') Подробнее
      a.cover-link(href='/tissue/barhat')
    .tissue.tvid
      .tissue__img
      .tissue__description
        h2.tissue__title Твид (Шанель)
        .tissue__text.
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet culpa incidunt, magni praesentium sed tenetur. Commodi esse ex qui quibusdam.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet culpa incidunt, ma
        .tissue__link
          a.tissue__url(href='#') Подробнее
      a.cover-link(href='#')
    .tissue-reverse.shelk
      .tissue__img
      .tissue__description
        h2.tissue__title Шелк
        .tissue__text.
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet culpa incidunt, magni praesentium sed tenetur. Commodi esse ex qui quibusdam.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet culpa incidunt, ma
        .tissue__link
          a.tissue__url(href='#') Подробнее
        a.cover-link(href='#')
    .tissue-reverse.shifon
      .tissue__img
      .tissue__description
          h2.tissue__title Шифон
          .tissue__text.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet culpa incidunt, magni praesentium sed tenetur. Commodi esse ex qui quibusdam.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet culpa incidunt, ma
          .tissue__link
            a.tissue__url(href='#') Подробнее
      a.cover-link(href='#')
    .tissue.gipur
      .tissue__img
      .tissue__description
        h2.tissue__title
          | Гипюр,
          | Кружево
        .tissue__text.
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet culpa incidunt, magni praesentium sed tenetur. Commodi esse ex qui quibusdam.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet culpa incidunt, ma
        .tissue__link
          a.tissue__url(href='#') Подробнее
      a.cover-link(href='#')
    .tissue.hlopok
      .tissue__img
      .tissue__description
        h2.tissue__title Хлопок, Лен
        .tissue__text.
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet culpa incidunt, magni praesentium sed tenetur. Commodi esse ex qui quibusdam.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet culpa incidunt, ma
        .tissue__link
          a.tissue__url(href='#') Подробнее
      a.cover-link(href='#')
    .tissue-reverse.jakard
      .tissue__img
      .tissue__description
        h2.tissue__title Жаккард
        .tissue__text.
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet culpa incidunt, magni praesentium sed tenetur. Commodi esse ex qui quibusdam.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet culpa incidunt, ma
        .tissue__link
          a.tissue__url(href='#') Подробнее
      a.cover-link(href='#')
    .tissue-reverse.kletka
      .tissue__img
      .tissue__description
        h2.tissue__title Клетка
        .tissue__text.
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet culpa incidunt, magni praesentium sed tenetur. Commodi esse ex qui quibusdam.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet culpa incidunt, ma
        .tissue__link
          a.tissue__url(href='#') Подробнее
      a.cover-link(href='#')
    .tissue.trikotaj
      .tissue__img
      .tissue__description
        h2.tissue__title Трикотаж
        .tissue__text.
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet culpa incidunt, magni praesentium sed tenetur. Commodi esse ex qui quibusdam.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet culpa incidunt, ma
        .tissue__link
          a.tissue__url(href='#') Подробнее
      a.cover-link(href='#')
    .tissue.podkladka
      .tissue__img
      .tissue__description
        h2.tissue__title Подкладочная ткань
        .tissue__text.
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet culpa incidunt, magni praesentium sed tenetur. Commodi esse ex qui quibusdam.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet culpa incidunt, ma
        .tissue__link
          a.tissue__url(href='#') Подробнее
      a.cover-link(href='#')
    .tissue-reverse.drap
      .tissue__img
      .tissue__description
        h2.tissue__title Драп, Сукно, Кашемир
        .tissue__text.
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet culpa incidunt, magni praesentium sed tenetur. Commodi esse ex qui quibusdam.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet culpa incidunt, ma
        .tissue__link
          a.tissue__url(href='#') Подробнее
      a.cover-link(href='#')
    .tissue-reverse.costume
      .tissue__img
      .tissue__description
        h2.tissue__title Костюмные ткани
        .tissue__text.
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet culpa incidunt, magni praesentium sed tenetur. Commodi esse ex qui quibusdam.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet culpa incidunt, ma
        .tissue__link
          a.tissue__url(href='#') Подробнее
      a.cover-link(href='#')
    .tissue.furniture
      .tissue__img
      .tissue__description
        h2.tissue__title Фурнитура
        .tissue__text.
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet culpa incidunt, magni praesentium sed tenetur. Commodi esse ex qui quibusdam.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet culpa incidunt, ma
        .tissue__link
          a.tissue__url(href='#') Подробнее
      a.cover-link(href='#')
