include common/_mixins

block variables

doctype html
html
  head
    meta(charset="utf-8")
    title #{title}
    meta(content="" name="author")
    meta(content="" name="description")
    meta(content="" name="keywords")
    meta(content="width=device-width, initial-scale=1" name="viewport")
    meta(content="ie=edge" http-equiv="x-ua-compatible")

    //- favicon block start
    link(rel='apple-touch-icon', sizes='180x180', href='/assets/img/favicon/apple-touch-icon.png')
    link(rel='icon', type='image/png', sizes='32x32', href='/assets/img/favicon/favicon-32x32.png')
    link(rel='icon', type='image/png', sizes='16x16', href='/assets/img/favicon/favicon-16x16.png')
    link(rel='manifest', href='/assets/img/favicon/site.webmanifest')
    link(rel='mask-icon', href='/assets/img/favicon/safari-pinned-tab.svg', color='#5bbad5')
    meta(name='msapplication-TileColor', content='#da532c')
    meta(name='theme-color', content='#bd2929')

    //- favicon block end

    link(rel='stylesheet' href='/assets/css/foundation.css')
    link(rel='stylesheet' href='/assets/css/app.css')

    script(src='/assets/js/foundation.js' defer)
    script(src='/assets/js/app.js' defer)
    script(src='https://use.fontawesome.com/releases/v5.0.4/js/all.js' defer)
    script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyCvgN-6_AAukrC84M7Txlh1psLF9dGhuc8&callback=initMap' async defer)

    <!--[if lt IE 9]>
    script(src="http://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js")
    <![endif]-->
    //RedConnect
    script#rhlpscrtg(src='https://web.redhelper.ru/service/main.js?c=aprikotov' async)
      div(style='display: none')
        a.rc-copyright(href='http://redconnect.ru') Сервис обратного звонка RedConnect
    //RedConnect


  body
    include common/_preloader
    include common/_header-tissue
    .content-wrapper
      block content
    include common/_footer
