.tissue-wrapper {
  display: flex;
  justify-content: flex-start;
  flex-flow: row wrap;
}

.tissue, .tissue-reverse {
  position: relative;
  padding: 0;
  margin: 0;
  border: 0;
  display: flex;
  flex-direction: row;
  height: 450px;
  width: 50%;

  @include desktop() {
  }

  @include laptop() {
  }

  @include tablets() {
    width: auto;
    height: 350px;
  }
  @include phones() {
  }

  &__img {
    background-size: cover;
    flex-basis: 100px;
    flex-grow: 1;
  }

  &__description {
    width: 50%;
    display: flex;
    flex-direction: column;
    flex-basis: 100px;
    justify-content: space-around;
    flex-grow: 1;
    background-color: white;
    padding-left: 3rem;
    padding-right: 3rem;
    box-sizing: border-box;

    @include laptop() {
      text-align: left;
      padding-left: 1.5rem;
      padding-right: 1.5rem;
    }

    @include tablets() {
      text-align: left;
      padding-left: 3rem;
      padding-right: 3rem;
    }
    @include phones() {
      padding-left: 1rem;
      padding-right: 1rem;
    }
  }

  &__title {
    font-size: 2rem;
    text-align: center;
    text-transform: uppercase;
    font-family: Kurale-Regular, Roboto, sans-serif;
    @include desktop() {
      font-size: 1.8rem;
    }
    @include laptop() {
      font-size: 1.55rem;
    }
    @include tablets() {
      font-size: 1.4rem;
    }
  }

  &__text {
    font-size: 1rem;
    font-family: Roboto, sans-serif;
    line-height: 1.75;
    color: #6a6c6e;
    height: 150px;
    overflow: hidden;
  }

  &__link {
    background: #fff;
    width: 100%;
    font-weight: 400;
    text-align: center;
    position: relative;
    margin-bottom: 40px;

    &:before {
      content: "";
      width: 100%;
      height: 200px;
      position: absolute;
      bottom: 100%;
      left: 0;
      background: linear-gradient(to bottom,rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff',endColorstr='#ffffff',GradientType=0);

      @include desktop() {
        height: 120px;
      }
    }
    .tissue__url {
      background-color: #e7ae01;
      color: #fff;
      display: inline-block;
      font-size: 14px;
      letter-spacing: .1em;
      margin: 1em 0 0;
      padding: 10px 20px;
      position: relative;
      text-decoration: none;
      text-transform: uppercase;
      transition: background-color .3s;
      z-index: 1;


    }
  }

  .cover-link {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    height: 100%;
    width: 100%;
    border: 1px solid transparent;
    transition: border-color .3s, border-width .3s;
    background-color: transparent;
    z-index: 2;
    box-sizing: border-box;

    &:hover {
      border-width: 15px;
      border-color: rgba(0,0,0,.2);

    }
  }
}

.barhat .tissue__img {
  //background: url(./../../images/tissue-page/feb60-1.jpg) 0 0  no-repeat;
  //background-size: 100% 100%;
  background-image: url(./../../images/tissue-page/feb60-1.jpg);

}
.tvid .tissue__img {
  //background: url(./../../images/tissue-page/feb40-1.jpg) 0 0  no-repeat;
  background-image: url(./../../images/tissue-page/feb40-1.jpg);

}
.shelk .tissue__img {
  //background: url(./../../images/tissue-page/feb44-1.jpg) 0 0  no-repeat;
  background-image: url(./../../images/tissue-page/feb44-1.jpg);

}
.shifon .tissue__img {
  //background: url(./../../images/tissue-page/feb46-1.jpg) 0 0  no-repeat;
  background-image: url(./../../images/tissue-page/feb46-1.jpg);

}
.gipur .tissue__img {
  //background: url(./../../images/tissue-page/feb45-1.jpg) 0 0  no-repeat;
  background-image: url(./../../images/tissue-page/feb45-1.jpg);

}
.hlopok .tissue__img {
  //background: url(./../../images/tissue-page/feb76-1.jpg) 0 0  no-repeat;
  background-image: url(./../../images/tissue-page/feb76-1.jpg);

}
.jakard .tissue__img {
  //background: url(./../../images/tissue-page/feb41-1.jpg) 0 0  no-repeat;
  background-image: url(./../../images/tissue-page/feb41-1.jpg);

}
.kletka .tissue__img{
  //background: url(./../../images/tissue-page/feb29-1.jpg) 0 0  no-repeat;
  background-image: url(./../../images/tissue-page/feb29-1.jpg);

}
.trikotaj .tissue__img{
  //background: url(./../../images/tissue-page/feb75-1.jpg) 0 0  no-repeat;
  background-image: url(./../../images/tissue-page/feb75-1.jpg);

}
.podkladka .tissue__img{
  //background: url(./../../images/tissue-page/feb47-1.jpg) 0 0  no-repeat;
  background-image: url(./../../images/tissue-page/feb47-1.jpg);

}
.drap .tissue__img{
  //background: url(./../../images/tissue-page/feb43-1.jpg) 0 0  no-repeat;
  background-image: url(./../../images/tissue-page/feb43-1.jpg);

}
.costume .tissue__img{
  //background: url(./../../images/tissue-page/feb31-1.jpg) 0 0  no-repeat;
  background-image: url(./../../images/tissue-page/feb31-1.jpg);

}
.furniture .tissue__img{
  //background: url(./../../images/tissue-page/feb48-1.jpg) 0 0  no-repeat;
  background-image: url(./../../images/tissue-page/feb48-1.jpg);

  //background-size: cover;
}
.tissue-reverse {
  .tissue__img {
    order: 1;
  }

}


.tissue:nth-child(2n) .tissue__img {
  @include tablets() {
    order: 1;
  }
}

.tissue-reverse:nth-child(2n + 1) .tissue__img {
  @include tablets() {
    order: 0;
  }
}