.showroom-wrapper {
  display: flex;
  justify-content: flex-start;
  flex-flow: row wrap;
}

.showroom, .showroom-reverse {
  position: relative;
  padding: 0;
  margin: 0;
  border: 0;
  display: flex;
  flex-direction: row;
  height: 450px;
  width: 50%;

  @include tablets() {
    width: 100%;
    height: 350px;
  }

  &__img {
    background-size: cover;
    flex-basis: 100px;
    flex-grow: 1;
  }

  &__description {
    width: 50%;
    display: flex;
    flex-direction: column;
    flex-basis: 100px;
    justify-content: space-around;
    flex-grow: 1;
    background-color: white;
    padding-left: 3rem;
    padding-right: 3rem;
    box-sizing: border-box;


    @include laptop() {
      text-align: left;
      padding-left: 1.5rem;
      padding-right: 1.5rem;
    }

    @include tablets() {
      text-align: left;
      padding-left: 3rem;
      padding-right: 3rem;
    }
    @include phones() {
      padding-left: 1rem;
      padding-right: 1rem;
    }
  }

  &__title {
    font-size: 2rem;
    text-align: center;
    text-transform: uppercase;
    font-family: Kurale-Regular, Roboto, sans-serif;
  }

  &__text {
    font-size: 1rem;
    font-family: Roboto, sans-serif;
    line-height: 1.75;
    color: #6a6c6e;
    height: 150px;
    overflow: hidden;
  }

  &__link {
    background: #fff;
    width: 100%;
    font-weight: 400;
    text-align: center;
    position: relative;
    margin-bottom: 40px;

    &:before {
      content: "";
      width: 100%;
      height: 98px;
      position: absolute;
      bottom: 100%;
      left: 0;
      background: linear-gradient(to bottom,rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff',endColorstr='#ffffff',GradientType=0);
    }
    .showroom__url {
      background-color: #e7ae01;
      color: #fff;
      display: inline-block;
      font-size: 14px;
      letter-spacing: .1em;
      margin: 1em 0 0;
      padding: 10px 20px;
      position: relative;
      text-decoration: none;
      text-transform: uppercase;
      transition: background-color .3s;
      z-index: 1;


    }
  }

  .cover-link {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    height: 100%;
    width: 100%;
    border: 1px solid transparent;
    transition: border-color .3s, border-width .3s;
    background-color: transparent;
    z-index: 2;
    box-sizing: border-box;

    &:hover {
      border-width: 15px;
      border-color: rgba(0,0,0,.2);

    }
  }
}

.showroom.item-1 .showroom__img {
  background: url("/../images/showroom-page/showroom-5.jpg") center center;
}
.showroom.item-2 .showroom__img {
  background: url("/../images/showroom-page/showroom-6.jpg") center center;
}
.showroom-reverse.item-3 .showroom__img {
  background: url("/../images/showroom-page/showroom-7.jpg") center center;
}
.showroom-reverse .showroom__img {
  order: 1;
}

.showroom:nth-child(2n) .showroom__img {
  @include tablets() {
    order: 1;
  }
}

.showroom-reverse:nth-child(2n + 1) .showroom__img {
  @include tablets() {
    order: 0;
  }
}