@keyframes change-back-img {
  from {
    background: url("/images/test-1-min.jpg");
    background-size: cover;
    background-attachment:  fixed;
  }

  15% {
    background: url("/../images/test-2-min.jpg");
    background-size: cover;
    background-attachment:  fixed;
  }

  30% {
    background: url("/../images/test-7-min.jpg");
    background-size: cover;
    background-attachment:  fixed;

  }

  45% {
    background: url("/../images/test-4-min.jpg");
    background-size: cover;
    background-attachment:  fixed;

  }
  60% {
    background: url("/../images/test-5-min.jpg");
    background-size: cover;
    background-attachment:  fixed;

  }
  74% {
    background: url("/../images/test-6-min.jpg");
    background-size: cover;
    background-attachment:  fixed;

  }
  88% {
    background: url("/../images/test-3-min.jpg");
    background-size: cover;
    background-attachment:  fixed;

  }

  to {
    background: url("/../images/test-3-min.jpg");
    background-size: cover;
    background-attachment:  fixed;

  }
}
@keyframes change-back-img-test {
  from {
    background: url("/../images/banner/test-11-min.jpg");
    background-size: cover;
    background-attachment:  fixed;
  }

  15% {
    background: url("/../images/banner/test-12-min.jpg");
    background-size: cover;
    background-attachment:  fixed;
  }

  30% {
    background: url("/../images/banner/test-14-min.jpg");
    background-size: cover;
    background-attachment:  fixed;

  }

  44% {
    background: url("/../images/banner/test-3-min-min.jpg");
    background-size: cover;
    background-attachment:  fixed;

  }
  59% {
    background: url("/../images/banner/test-18-min.jpg");
    background-size: cover;
    background-attachment:  fixed;

  }
  73% {
    background: url("/../images/banner/test-15-min.jpg");
    background-size: cover;
    background-attachment:  fixed;

  }
  87% {
    background: url("/../images/banner/test-16-min.jpg");
    background-size: cover;
    background-attachment:  fixed;

  }

  to {
    background: url("/../images/banner/test-17-min.jpg");
    background-size: cover;
    background-attachment:  fixed;

  }
}
@keyframes back-img {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(-140px);

  }
}

@keyframes back-img-test {
  from {
    transform: translateY(0) translateZ(0) ;
  }

  to {
    transform: translateY(-140px);

  }
}
@keyframes main-arrow-move {
  from {
    transform: translateY(0) translateZ(0);
  }

  to {
    transform: translateY(10px);
  }
}

@keyframes arrow-move {
  from {
    transform: translateY(-70px) translateZ(0);
  }

  to {
    transform: translateY(-50px);
  }
}

@keyframes elem-in {
  from {
    opacity: 0;
  }


  to {
    opacity: 1;
    //z-index: 1;
  }
}
@keyframes elem-out {
  from {
    opacity: 1;
  }


  to {
    opacity: 0;
    //z-index: 0;
  }
}


