.page-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  align-content: stretch;
  height: auto;
  margin-top: auto;

  .footer-up {
    display: flex;
    justify-content: center;
    align-items: stretch;
    align-content: stretch;
    flex-flow: row wrap;
    background-color: #292c2f;

    .map-wrapper {
      min-height: 250px;
      margin-bottom: 25px;
      margin-top: 25px;
      //border: 1px solid white;
      background: url("/images/map-pic-1.png");
      background-size: cover;
      flex: 1 1 39%;

      @include desktop() {
        flex: 1 1 39%;
      }

      @include laptop() {
        flex: 1 1 85%;
      }

      @include tablets() {
        flex: 1 1 100%;
      }

      @include phones() {
        flex: 1 1 100%;
      }

    }
    .contact {
      display: flex;
      flex-direction: column;
      align-items: stretch;
      flex: 1 1 24%;

      @include desktop() {
        flex: 1 1 24%;
      }

      @include laptop() {
        flex: 1 1 20%;
      }

      @include tablets() {
        flex: 1 1 100%;
      }

      @include phones() {
        flex: 1 1 100%;
      }

      &__adress {
        padding-top: 30px;
        padding-bottom: 20px;
        padding-left: 30px;
        display: flex;
        flex-direction: column;

        &-title {
          color: #8c97a2;
          font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
          font-size: 1rem;
          font-weight: 700;
          letter-spacing: .1em;
          margin: 0 0 1.32em;
          text-align: left;
          text-transform: uppercase;
        }
        &-this {
          font-size: 1rem;
          color: #858d95;
        }
      }

      &__tel {
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 30px;
        display: flex;
        flex-direction: column;

        &-title {
          color: #8c97a2;
          font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
          font-size: 1rem;
          font-weight: 700;
          letter-spacing: .1em;
          margin: 0 0 1.32em;
          text-align: left;
          text-transform: uppercase;
        }
        &-this {
          font-size: 1rem;
          color: #858d95;
        }
      }

    }
    .instagram-wrapper {
      padding-top: 20px;
      padding-bottom: 20px;
      flex: 1 1 35%;

      @include desktop() {
        flex: 1 1 35%;
      }

      @include laptop() {
        flex: 1 1 100%;
      }

      @include tablets() {
        flex: 1 1 100%;
      }

      @include phones() {
        flex: 1 1 100%;
      }
      #instafeed {
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        @include laptop() {
          justify-content: center;
        }
        img {
          max-width: 100%;
          height: auto;
        }
      }
    }
  }

  .footer-down {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    align-content: flex-start;
    flex-flow: row wrap;
    background-color: #242629;

    @include phones() {
      padding: 0;
    }

    .nav {
      width: 100%;


      .container {
        width: 100%;
      }

      .nav__list {
        margin: 0 auto;
        padding-left: 0;
        display: flex;
        flex-direction: row;
        justify-content: center;
        list-style: none;
        height: 36px;
      }

      .nav__item {
        line-height: 36px;
        margin-right: 30px;


        &:last-child {
          margin-right: 0;
        }

        @include tablets() {
          margin-right: 30px;
        }
        @include phones() {
          margin-right: 10px;

        }


        &:last-child,
        &:nth-child(3)  {
          padding-right: 0;
        }

        .nav__link {
          white-space: nowrap;
          //margin: auto;
          font-size: 16px;
          align-self: center;
          color: rgba(255,255,255,0.5);
          text-decoration: none;
          transition: color 0.5s;
          font-family: Roboto, sans-serif;

          @include phones() {
            font-size: 13px;
            font-family: Roboto, sans-serif;
          }
          &:hover {
            color: #e7c993;
            text-decoration: none;
          }
        }
      }

      .nav__item_active .nav__link {
        filter: brightness(80%);
        pointer-events: none; /* делаем элемент неактивным для взаимодействия */
        cursor: default;
      }
    }
  }


}




