.header-tissue {
  width: 100%;
  display: flex;
  height: 500px;
  flex-direction: column;
  justify-content: stretch;
  align-items: center;
  background: url('/images/test-3-min.jpg');
  background-size: cover;
  background-attachment: fixed;

  .container {
    margin: 0 auto;
    width: 100%;
  }
}

.logo {
  font-size: 50px;
}


.header-tissue .banner-tissue {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: stretch;
  align-content: stretch;
  width: 100%;
  flex: 1 0 auto;


  .banner__text {
    width: 100%;
    background: rgba(0,0,0, 0.4);
    font: 60px WolfgangAmadeusMozart, Roboto, sans-serif;
    line-height: 1.6;
    color: whitesmoke;
    text-align: center;
    align-self: flex-end;
    margin: 0;
    margin-top: auto;
    flex: 0 1 100%;
  }
}



