$main-color: rgb(252, 228, 236);

.header, .header-tissue {
  width: 100%;
  height: 100vh;
  min-height: 650px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  overflow: hidden;
  white-space: nowrap;

  @include tablets() {
    height: 40vh;
    min-height: 400px;
  }

  @include phones() {
    max-height: 500px;
    min-height: 300px;
  }

  .header__background {
    position: absolute;
    top: -280px;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    min-height: 1280px;
    animation: back-img-test 15s linear infinite alternate;

    img {
      //display: block;
      min-height: 1280px;
      @include laptop() {
        min-height: 80%;
      }

      @include tablets() {
        min-height: 60%;
      }

      @include phones() {
        min-height: 40%;
      }
    }

    @include phones() {
      top: -250px;
    }

    .slider__item {
      position: absolute;
      top: -300px;
      left: 0;
      width: 100%;
      height: 100%;
    }


  }


  .call-me-baby {
    position: absolute;
    top: 5px;
    left: 150px;
    @include phones() {
      right: 10px;
    }
  }

  .instagram {
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    z-index: 11;
    top: 5px;
    right: 5%;
    color: white;
    text-decoration: none;




    @include desktop() {
      right: 2%;
    }

    @include laptop() {
      right: 0;
    }

    @include tablets() {
      right: 5%;
      top: 8px;
    }

    @include phones() {
    }

    &:hover {
      .instagram__title,
      .instagram__link {
        color: #e7c993;
      }
    }


    .instagram__title {
      text-decoration: none;
      color: white;
      transition: color 0.5s linear;
      @include desktop() {
       display: none;
      }
    }
  }

  .instagram__link {
    width: 40px;
    height: 40px;
    color: white;
    margin-right: 5px;
    transition: color 0.5s linear;


    @include tablets() {
      background: rgba(0,0,0, 0.3);
      border-radius: 10px;
    }
  }
  .nav {
    position: fixed;
    z-index: 10;
    top: 0;
    width: 100%;
    margin-bottom: auto;
    align-self: flex-start;
    background: rgba(0,0,0, 0.6);
    box-shadow: 0 20px 70px 20px rgba(0, 0, 0, 0.6);

    @include laptop() {
      box-shadow: none;
    }

    @include tablets() {
      display: none;
    }

    &__list {
      margin: 0;
      padding-left: 0;
      display: flex;
      flex-direction: row;
      justify-content: center;
      list-style: none;

      @include tablets() {
        flex-wrap: wrap;
      }

    }

    &__item {
      width: auto;
      height: 50px;
      margin: 0;
      padding-right: 50px;
      display: flex;
      flex-direction: row;
      justify-content: left;
      align-items: center;
      zoom: 1;

      @include laptop() {
        height: 50px;
        padding-right: 35px;
      }

      @include tablets() {
        height: 40px;
        padding-right: 28px;
      }

      @include phones() {
        height: 30px;
        padding-right: 20px;
      }
      &:last-child{
        padding-right: 0;
      }

      .nav__link {
        flex-wrap: nowrap;
        font-size: 20px;
        align-self: center;
        color: white;
        text-decoration: none;
        text-transform: uppercase;
        transition: color 0.5s linear;
        font-family: Kurale-Regular, Roboto, sans-serif;

        @include laptop() {
          font-size: 18px;
        }

        @include tablets() {
          font-size: 16px;
        }

        @include phones() {
          font-size: 14px;

        }
        &:link {
          text-decoration: none;
        }
        &:visited {
          text-decoration: none;
        }
        &:hover {
          color: #f1d8ab;
          text-decoration: none;
        }
        &:active {
          color: #e7c993;
          text-decoration: none;


        }
      }
    }
    &__item_active .nav__link {
      color: #e7c993;
      pointer-events: none; /* делаем элемент неактивным для взаимодействия */
      cursor: default;

    }
  }
}

.banner {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: stretch;
  align-content: stretch;
  width: 100%;
  //height: 100%;
  position: absolute;
  bottom: 0;
  left: 0;

  .logo-shadow-link {
    text-decoration: none;
    align-self: center;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    @include laptop() {
      width: 300px;
      height: 300px;
    }

    @include tablets() {
      width: 250px;
      height: 250px;
      margin-top: auto;
    }

    @include phones() {
      width: 220px;
      height: 220px;
    }

    .logo-circle {
      align-self: center;
      background: url('/images/logo/logo-white.png') center center;
      background-size: 100%;
      background-repeat: no-repeat;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: stretch;
      align-items: stretch;
      border: none;

      @include laptop() {
        width: 100%;
        height: 100%;
      }
      @include tablets() {
      }

      @include phones() {
        margin-top: 0;
      }
    }
    .logo {
      display: block;
      padding-top: 20px;
      padding-right: 10px;
      text-align: center;
      color: white;
      font-size: 200px;
      line-height: 150px;
      font-family: WolfgangAmadeusMozart, sans-serif;

      @include laptop() {
        font-size: 150px;
        line-height: 115px;
      }
      @include tablets() {
        font-size: 100px;
        line-height: 75px;
      }

      @include phones() {
        font-size: 70px;
        line-height: 50px;
      }
    }
    .logo__text {
      font-size: 50px;
      font-family: Rockwell, Roboto, Arial, Tahoma, sans-serif;
      color: white;

      @include tablets() {
        font-size: 40px;
      }

      @include phones() {
        font-size: 30px;

      }
    }
  }

  .text-container {
    height: 100px;
    display: flex;
    flex-direction: row;
    background: rgba(0,0,0, 0.4);
    box-shadow: 0px -20px 30px 6px rgba(0, 0, 0, 0.4);

    @include laptop() {
      height: 60px;
      box-shadow: 0px -8px 30px 6px rgba(0, 0, 0, 0.4);

    }


    @include phones() {
      height: 45px;
      box-shadow: 0px -8px 30px 6px rgba(0, 0, 0, 0.4);

    }

  }
  &__text {
    font: 60px WolfgangAmadeusMozart, Roboto, sans-serif;
    line-height: 1.6;
    color: whitesmoke;
    margin: 0;
    text-align: center;
    flex: 1 1 50%;

    @include desktop() {
      font-size: 50px;
    }
    @include laptop() {
      font-size: 40px;
      line-height: 1;

    }

    @include tablets() {
      font-size: 40px;
    }

    @include phones() {
      font-size: 35px;
      line-height: 1;
    }
  }

  &__text_it {
    font: 65px WolfgangAmadeusMozart, Roboto, sans-serif;
    color: whitesmoke;
    text-align: center;
    flex: 1 1 50%;
    position: relative;

    @include desktop() {
      font-size: 55px;
    }


    @include laptop() {
      font-size: 40px;
      line-height: 1;

    }
    @include tablets() {
      display: none;

    }

    @include phones() {
      display: none;
    }
  }
}

.btn-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  animation: main-arrow-move 1s ease-in infinite alternate;
  @include tablets() {
    display: none;

  }
  @include phones() {
    display: none;
  }

  .go-down {
    width: 50px;
    height: 50px;
    color: white;
    cursor: pointer;
  }
}
.screen-menu {
  &__item_active &__link {
    color: gray;
    pointer-events: none; /* делаем элемент неактивным для взаимодействия */
    cursor: default;



    .subtitle {
      color: gray;
      pointer-events: none; /* делаем элемент неактивным для взаимодействия */
      cursor: default;

    }
  }
}

/* rotator in-page placement */
div.rotator {
  position:relative;
  //height:345px;
  display:none;
}
/* rotator css */
div.rotator ul {
  margin:0;
  padding:0;
}
div.rotator ul li {
  //float:left;
  position:absolute;
  top: 0;
  left: 0;
  list-style: none;
}
/* rotator image style */
div.rotator ul li img {
  //border:1px solid #ccc;
  //padding: 4px;
  //background: #FFF;
}
div.rotator ul li.show {
  z-index:500;
}


//@media (max-device-width: 414px) {
//
//  .rc-connect .rc-inactive #rc-phone-back {
//    right: 1rem !important;
//  }
//}