footer.page-footer#footer
  .footer-up
    .map-wrapper#map
    .contact
      .contact__adress
        .contact__adress-title Адрес:
        .contact__adress-this Москва, Ломоносовский проспект, 25
      .contact__tel
        .contact__tel-title Телефон:
        a.contact__tel-this(href='tel:+74993946086') 8 (499) 394-60-86
    .instagram-wrapper
      a.instagram(target='_blank' href="https://www.instagram.com/tkani_mendosa/")
        #instafeed
  .footer-down
    +nav("nav", [["Главная", "/index"], ["О нас", "/about"], ["Ткани", "/tissue"], ["Ателье", "/studio"],
        ["Шоурум", "/showroom"], ["Галерея", "/gallery"]], activeItem)











    //.socials
    //  ul.socials__list
    //    li.socials__item
    //      a.socials__link.socials__link_vk(href='#')
    //        i.fab.fa-facebook-f
    //    li.socials__item
    //      a.socials__link.socials__link_fb(href='#')
    //        i.fab.fa-instagram