header.header-tissue#header-tissue
  img.main-tissue-banner(src=('/' + activeTissueUrl) alt=activeTissue)
  a.instagram(target='_blank' href="https://www.instagram.com/tkani_mendosa/")
    i.instagram__link.fab.fa-instagram
    span.instagram__title INSTAGRAM
  include ../common/_menu-mobile
  +nav("nav", [["О нас","/about"], ["Ткани","/tissue"], ["Ателье","/studio"],
    ["Шоурум","/showroom"], ["Галерея","/gallery"], ["Контакты","#footer"]], activeItem)
  .banner-tissue
    block tissue-title