header.header#header
  .header__background.rotator
    ul
      li
        img.header__slide.header__slide_1(src="/images/banner/test-17-min.jpg")
      li
        img.header__slide.header__slide_2(src="/images/banner/test-13-min.jpg")
      li
        img.header__slide.header__slide_3(src="/images/banner/test-14-min.jpg")
      li
        img.show.header__slide.header__slide_4(src="/images/banner/test-18-min.jpg")
      li
        img.header__slide.header__slide_5(src="/images/banner/test-11-min.jpg")
  a.instagram(target='_blank' href="https://www.instagram.com/tkani_mendosa/")
    i.instagram__link.fab.fa-instagram
    span.instagram__title INSTAGRAM
  include ../common/_menu-mobile
  +nav("nav", [["Главная","/index"], ["О нас","/about"], ["Ткани","/tissue"], ["Ателье","/studio"],
    ["Шоурум","/showroom"], ["Галерея","/gallery"], ["Контакты","#footer"]], activeItem)
  .banner
    a(href='/index.html').logo-shadow-link
      .logo-circle
    .text-container
      .banner__text Творческая мастерская
      a(href='#id1').btn-container
        .go-down.fas.fa-chevron-down
      .banner__text_it Bellissimi tessuti italiani

