.container
  section.owl-slider#about
    a(href='/about.html').about__link_main
      h3.about__title О нас
    .owl-carousel.owl-theme#slider-about
      div.slider-right.item-1
        .slider-text
          a(href='/about.html').slider-text__link
            h3.slider-text__title О нас
          .slider-text__description Наш магазин-ателье специализируется на продаже итальянских тканей прямиком из Италии! У нас вы сможете подобрать ткань для любого повода и события, а наши лучшие специалисты смогут сшить для Вас все что угодно!
          .slider-text__moreinfo
            a.slider-text__link(href='/about.html') Подробнее
              i.fas.fa-chevron-right
      div.slider-right.item-2
        .slider-text
          a(href='/about.html').slider-text__link
            h3.slider-text__title О нас
          .slider-text__description Наш магазин-ателье специализируется на продаже итальянских тканей прямиком из Италии! У нас вы сможете подобрать ткань для любого повода и события, а наши лучшие специалисты смогут сшить для Вас все что угодно!
          .slider-text__moreinfo
            a.slider-text__link(href='/about.html') Подробнее
              i.fas.fa-chevron-right
      div.slider-right.item-3
        .slider-text
          a(href='/about.html').slider-text__link
            h3.slider-text__title О нас
          .slider-text__description Наш магазин-ателье специализируется на продаже итальянских тканей прямиком из Италии! У нас вы сможете подобрать ткань для любого повода и события, а наши лучшие специалисты смогут сшить для Вас все что угодно!
          .slider-text__moreinfo
            a.slider-text__link(href='/about.html') Подробнее
              i.fas.fa-chevron-right
      div.slider-right.item-4
        .slider-text
          a(href='/about.html').slider-text__link
            h3.slider-text__title О нас
          .slider-text__description Наш магазин-ателье специализируется на продаже итальянских тканей прямиком из Италии! У нас вы сможете подобрать ткань для любого повода и события, а наши лучшие специалисты смогут сшить для Вас все что угодно!
          .slider-text__moreinfo
            a.slider-text__link(href='/about.html') Подробнее
              i.fas.fa-chevron-right
    .about__description Наш магазин-ателье специализируется на продаже итальянских тканей прямиком из Италии! У нас вы сможете подобрать ткань для любого повода и события, а наши лучшие специалисты смогут сшить для Вас все что угодно!
    .tissue-main__moreinfo
      a.tissue-main__link(href='/about.html') Подробнее
        //i.fas.fa-chevron-right
    a(href='#tissue').btn-container
      .go-down.fas.fa-chevron-down
  hr
  section.owl-slider#tissue
    a(href='/tissue.html').tissue-main__link_main
      h3.tissue-main__title Ткани
    .owl-carousel.owl-theme#slider-tissue
      div.slider-right.item-1
        .slider-text
          a(href='/tissue.html').slider-text__link
            h3.slider-text__title Ткани
          .slider-text__description Наш магазин-ателье специализируется на продаже итальянских тканей прямиком из Италии! У нас вы сможете подобрать ткань для любого повода и события, а наши лучшие специалисты смогут сшить для Вас все что угодно!
          .slider-text__moreinfo
            a.slider-text__link(href='/tissue.html') Подробнее
              i.fas.fa-chevron-right
      div.slider-right.item-2
        .slider-text
          a(href='/tissue.html').slider-text__link
            h3.slider-text__title Ткани
          .slider-text__description Наш магазин-ателье специализируется на продаже итальянских тканей прямиком из Италии! У нас вы сможете подобрать ткань для любого повода и события, а наши лучшие специалисты смогут сшить для Вас все что угодно!
          .slider-text__moreinfo
            a.slider-text__link(href='/tissue.html') Подробнее
              i.fas.fa-chevron-right
      div.slider-right.item-3
        .slider-text
          a(href='/tissue.html').slider-text__link
            h3.slider-text__title Ткани
          .slider-text__description Наш магазин-ателье специализируется на продаже итальянских тканей прямиком из Италии! У нас вы сможете подобрать ткань для любого повода и события, а наши лучшие специалисты смогут сшить для Вас все что угодно!
          .slider-text__moreinfo
            a.slider-text__link(href='/tissue.html') Подробнее
              i.fas.fa-chevron-right
      div.slider-right.item-4
        .slider-text
          a(href='/tissue.html').slider-text__link
            h3.slider-text__title Ткани
          .slider-text__description Наш магазин-ателье специализируется на продаже итальянских тканей прямиком из Италии! У нас вы сможете подобрать ткань для любого повода и события, а наши лучшие специалисты смогут сшить для Вас все что угодно!
          .slider-text__moreinfo
            a.slider-text__link(href='/tissue.html') Подробнее
              i.fas.fa-chevron-right
    .tissue-main__description Наш магазин-ателье специализируется на продаже итальянских тканей прямиком из Италии! У нас вы сможете подобрать ткань для любого повода и события, а наши лучшие специалисты смогут сшить для Вас все что угодно!
    .tissue-main__moreinfo
      a.tissue-main__link(href='/tissue.html') Подробнее
        //i.fas.fa-chevron-right
    a(href='#studio').btn-container
      .go-down.fas.fa-chevron-down
  hr
  section.owl-slider#studio
    a(href='/studio.html').studio__link_main
      h3.studio__title Ателье
    .owl-carousel.owl-theme#slider-studio
      div.slider-right.item-1
        .slider-text
          a(href='/studio.html').slider-text__link
            h3.slider-text__title Ателье
          .slider-text__description Наш магазин-ателье специализируется на продаже итальянских тканей прямиком из Италии! У нас вы сможете подобрать ткань для любого повода и события, а наши лучшие специалисты смогут сшить для Вас все что угодно!
          .slider-text__moreinfo
            a.slider-text__link(href='/studio.html') Подробнее
              i.fas.fa-chevron-right
      div.slider-right.item-2
        .slider-text
          a(href='/studio.html').slider-text__link
            h3.slider-text__title Ателье
          .slider-text__description Наш магазин-ателье специализируется на продаже итальянских тканей прямиком из Италии! У нас вы сможете подобрать ткань для любого повода и события, а наши лучшие специалисты смогут сшить для Вас все что угодно!
          .slider-text__moreinfo
            a.slider-text__link(href='/studio.html') Подробнее
              i.fas.fa-chevron-right
      div.slider-right.item-3
        .slider-text
          a(href='/studio.html').slider-text__link
            h3.slider-text__title Ателье
          .slider-text__description Наш магазин-ателье специализируется на продаже итальянских тканей прямиком из Италии! У нас вы сможете подобрать ткань для любого повода и события, а наши лучшие специалисты смогут сшить для Вас все что угодно!
          .slider-text__moreinfo
            a.slider-text__link(href='/studio.html') Подробнее
              i.fas.fa-chevron-right
      div.slider-right.item-4
        .slider-text
          a(href='/studio.html').slider-text__link
            h3.slider-text__title Ателье
          .slider-text__description Наш магазин-ателье специализируется на продаже итальянских тканей прямиком из Италии! У нас вы сможете подобрать ткань для любого повода и события, а наши лучшие специалисты смогут сшить для Вас все что угодно!
          .slider-text__moreinfo
            a.slider-text__link(href='/studio.html') Подробнее
              i.fas.fa-chevron-right
    .studio__description Наш магазин-ателье специализируется на продаже итальянских тканей прямиком из Италии! У нас вы сможете подобрать ткань для любого повода и события, а наши лучшие специалисты смогут сшить для Вас все что угодно!
    .studio__moreinfo
      a.studio__link(href='/studio.html') Подробнее
    a(href='#showroom').btn-container
      .go-down.fas.fa-chevron-down
  hr
  section.owl-slider#showroom
    a(href='/showroom.html').showroom-main__link_main
      h3.showroom-main__title Шоурум
    .owl-carousel.owl-theme#slider-showroom
      div.slider-right.item-1
        .slider-text
          a(href='/showroom.html').slider-text__link
            h3.slider-text__title Шоурум
          .slider-text__description Наш магазин-ателье специализируется на продаже итальянских тканей прямиком из Италии! У нас вы сможете подобрать ткань для любого повода и события, а наши лучшие специалисты смогут сшить для Вас все что угодно!
          .slider-text__moreinfo
            a.slider-text__link(href='/showroom.html') Подробнее
              i.fas.fa-chevron-right
      div.slider-right.item-2
        .slider-text
          a(href='/showroom.html').slider-text__link
            h3.slider-text__title Шоурум
          .slider-text__description Наш магазин-ателье специализируется на продаже итальянских тканей прямиком из Италии! У нас вы сможете подобрать ткань для любого повода и события, а наши лучшие специалисты смогут сшить для Вас все что угодно!
          .slider-text__moreinfo
            a.slider-text__link(href='/showroom.html') Подробнее
              i.fas.fa-chevron-right
      div.slider-right.item-3
        .slider-text
          a(href='/showroom.html').slider-text__link
            h3.slider-text__title Шоурум
          .slider-text__description Наш магазин-ателье специализируется на продаже итальянских тканей прямиком из Италии! У нас вы сможете подобрать ткань для любого повода и события, а наши лучшие специалисты смогут сшить для Вас все что угодно!
          .slider-text__moreinfo
            a.slider-text__link(href='/showroom.html') Подробнее
              i.fas.fa-chevron-right
      div.slider-right.item-4
        .slider-text
          a(href='/showroom.html').slider-text__link
            h3.slider-text__title Шоурум
          .slider-text__description Наш магазин-ателье специализируется на продаже итальянских тканей прямиком из Италии! У нас вы сможете подобрать ткань для любого повода и события, а наши лучшие специалисты смогут сшить для Вас все что угодно!
          .slider-text__moreinfo
            a.slider-text__link(href='/showroom.html') Подробнее
              i.fas.fa-chevron-right
    .showroom-main__description Наш магазин-ателье специализируется на продаже итальянских тканей прямиком из Италии! У нас вы сможете подобрать ткань для любого повода и события, а наши лучшие специалисты смогут сшить для Вас все что угодно!
    .showroom-main__moreinfo
      a.showroom-main__link(href='/showroom.html') Подробнее
        //i.fas.fa-chevron-right