.container
  section.owl-slider#about
    a(href='/about').about__link_main
      h3.about__title О нас
    .owl-carousel.owl-theme#slider-about
      div.slider-right.item-1
        .slider-text
          a(href='/about').slider-text__link
            h3.slider-text__title О нас
          .slider-text__description
            p Добро пожаловать в наш бутик-ателье &#171;Mendosa&#187;!
            p Ателье-бутик &#171;Mendosa&#187; - это МИР великолепных итальянских тканей, восхитительных кружев, сверкающих пуговиц и сотен разновидностей тесьмы и молний.
              |Просторный, светлый салон, доброжелательные сотрудники, большие и комфортные примерочные, гостевая зона - все создано для того чтобы вам у нас понравилось
          .slider-text__moreinfo
            a.slider-text__link(href='/about') Подробнее
              i.fas.fa-chevron-right
      div.slider-right.item-2
        .slider-text
          a(href='/about').slider-text__link
            h3.slider-text__title О нас
          .slider-text__description
            p Добро пожаловать в наш бутик-ателье &#171;Mendosa&#187;!
            p Ателье-бутик &#171;Mendosa&#187; - это МИР великолепных итальянских тканей, восхитительных кружев, сверкающих пуговиц и сотен разновидностей тесьмы и молний.
              |Просторный, светлый салон, доброжелательные сотрудники, большие и комфортные примерочные, гостевая зона - все создано для того чтобы вам у нас понравилось
          .slider-text__moreinfo
            a.slider-text__link(href='/about') Подробнее
              i.fas.fa-chevron-right
      div.slider-right.item-3
        .slider-text
          a(href='/about').slider-text__link
            h3.slider-text__title О нас
          .slider-text__description
            p Добро пожаловать в наш бутик-ателье &#171;Mendosa&#187;!
            p Ателье-бутик &#171;Mendosa&#187; - это МИР великолепных итальянских тканей, восхитительных кружев, сверкающих пуговиц и сотен разновидностей тесьмы и молний.
              | Просторный, светлый салон, доброжелательные сотрудники, большие и комфортные примерочные, гостевая зона - все создано для того чтобы вам у нас понравилось
          .slider-text__moreinfo
            a.slider-text__link(href='/about') Подробнее
              i.fas.fa-chevron-right
      div.slider-right.item-4
        .slider-text
          a(href='/about').slider-text__link
            h3.slider-text__title О нас
          .slider-text__description
            p Добро пожаловать в наш бутик-ателье &#171;Mendosa&#187;!
            p Ателье-бутик &#171;Mendosa&#187; - это МИР великолепных итальянских тканей, восхитительных кружев, сверкающих пуговиц и сотен разновидностей тесьмы и молний.
              | Просторный, светлый салон, доброжелательные сотрудники, большие и комфортные примерочные, гостевая зона - все создано для того чтобы вам у нас понравилось.
          .slider-text__moreinfo
            a.slider-text__link(href='/about') Подробнее
              i.fas.fa-chevron-right
    .about__description
      p Добро пожаловать в наш бутик-ателье &#171;Mendosa&#187;!
      p Ателье-бутик &#171;Mendosa&#187; - это МИР великолепных итальянских тканей, восхитительных кружев, сверкающих пуговиц и сотен разновидностей тесьмы и молний.
        |Просторный, светлый салон, доброжелательные сотрудники, большие и комфортные примерочные, гостевая зона - все создано для того чтобы вам у нас понравилось
    .tissue-main__moreinfo
      a.tissue-main__link(href='/about') Подробнее
        //i.fas.fa-chevron-right
    a(href='#tissue').btn-container
      .go-down.fas.fa-chevron-down
  hr
  section.owl-slider#tissue
    a(href='/tissue').tissue-main__link_main
      h3.tissue-main__title Ткани
    .owl-carousel.owl-theme#slider-tissue
      div.slider-right.item-1
        .slider-text
          a(href='/tissue').slider-text__link
            h3.slider-text__title Ткани
          .slider-text__description
            p У нас представлены до сотни образцов каждого вида ткани именитых итальянских дизайнеров.
            p Прекрасные шелка для блуз, великолепный бархат, самый мягкий хлопок и лен, драп для лучшего пальто, французский шифон для сарафанов - все это вы найдете у нас! Наши портные сделают для вас вещь-мечту, которая станет неотъемлемой частью вашего гардероба, и с каждым днем таких вещей в вашем гардеробе, поверьте, станет больше.
          .slider-text__moreinfo
            a.slider-text__link(href='/tissue') Подробнее
              i.fas.fa-chevron-right
      div.slider-right.item-2
        .slider-text
          a(href='/tissue').slider-text__link
            h3.slider-text__title Ткани
          .slider-text__description
            p У нас представлены до сотни образцов каждого вида ткани именитых итальянских дизайнеров.
            p Прекрасные шелка для блуз, великолепный бархат, самый мягкий хлопок и лен,
              | драп для лучшего пальто, французский шифон для сарафанов - все это вы найдете у нас!
              | Наши портные сделают для вас вещь-мечту, которая станет неотъемлемой частью
              | вашего гардероба, и с каждым днем таких вещей в вашем гардеробе, поверьте, станет больше.
          .slider-text__moreinfo
            a.slider-text__link(href='/tissue') Подробнее
              i.fas.fa-chevron-right
      div.slider-right.item-3
        .slider-text
          a(href='/tissue').slider-text__link
            h3.slider-text__title Ткани
          .slider-text__description
            p У нас представлены до сотни образцов каждого вида ткани именитых итальянских дизайнеров.
            p Прекрасные шелка для блуз, великолепный бархат, самый мягкий хлопок и лен,
              | драп для лучшего пальто, французский шифон для сарафанов - все это вы найдете у нас!
              | Наши портные сделают для вас вещь-мечту, которая станет неотъемлемой частью
              | вашего гардероба, и с каждым днем таких вещей в вашем гардеробе, поверьте, станет больше.
          .slider-text__moreinfo
            a.slider-text__link(href='/tissue') Подробнее
              i.fas.fa-chevron-right
      div.slider-right.item-4
        .slider-text
          a(href='/tissue').slider-text__link
            h3.slider-text__title Ткани
          .slider-text__description
            p У нас представлены до сотни образцов каждого вида ткани именитых итальянских дизайнеров.
            p Прекрасные шелка для блуз, великолепный бархат, самый мягкий хлопок и лен,
              | драп для лучшего пальто, французский шифон для сарафанов - все это вы найдете у нас!
              | Наши портные сделают для вас вещь-мечту, которая станет неотъемлемой частью
              | вашего гардероба, и с каждым днем таких вещей в вашем гардеробе, поверьте, станет больше.
          .slider-text__moreinfo
            a.slider-text__link(href='/tissue') Подробнее
              i.fas.fa-chevron-right
    .tissue-main__description
      p У нас представлены до сотни образцов каждого вида ткани именитых итальянских дизайнеров.
      p Прекрасные шелка для блуз, великолепный бархат, самый мягкий хлопок и лен,
        | драп для лучшего пальто, французский шифон для сарафанов - все это вы найдете у нас!
        | Наши портные сделают для вас вещь-мечту, которая станет неотъемлемой частью
        | вашего гардероба, и с каждым днем таких вещей в вашем гардеробе, поверьте, станет больше.
    .tissue-main__moreinfo
      a.tissue-main__link(href='/tissue') Подробнее
        //i.fas.fa-chevron-right
    a(href='#studio').btn-container
      .go-down.fas.fa-chevron-down
  hr
  section.owl-slider#studio
    a(href='/studio').studio__link_main
      h3.studio__title Ателье
    .owl-carousel.owl-theme#slider-studio
      div.slider-right.item-1
        .slider-text
          a(href='/studio').slider-text__link
            h3.slider-text__title Ателье
          .slider-text__description.
            Мы рады видеть вас в нашей творческой мастерской, где опытные мастера, конструкторы, портные воплотят в реальность вашу давнюю мечту о красивом платье, великолепном костюме, единственных и неповторимых брюках и идеально посаженой юбке. Все в нашем ателье сделано для того чтобы вы ощущали себя самой красивой и желанной.
          .slider-text__moreinfo
            a.slider-text__link(href='/studio') Подробнее
              i.fas.fa-chevron-right
      div.slider-right.item-2
        .slider-text
          a(href='/studio').slider-text__link
            h3.slider-text__title Ателье
          .slider-text__description.
            Мы рады видеть вас в нашей творческой мастерской, где опытные мастера, конструкторы, портные воплотят в реальность вашу давнюю мечту о красивом платье, великолепном костюме, единственных и неповторимых брюках и идеально посаженой юбке. Все в нашем ателье сделано для того чтобы вы ощущали себя самой красивой и желанной.
          .slider-text__moreinfo
            a.slider-text__link(href='/studio') Подробнее
              i.fas.fa-chevron-right
      div.slider-right.item-3
        .slider-text
          a(href='/studio').slider-text__link
            h3.slider-text__title Ателье
          .slider-text__description.
            Мы рады видеть вас в нашей творческой мастерской, где опытные мастера, конструкторы, портные воплотят в реальность вашу давнюю мечту о красивом платье, великолепном костюме, единственных и неповторимых брюках и идеально посаженой юбке. Все в нашем ателье сделано для того чтобы вы ощущали себя самой красивой и желанной.
          .slider-text__moreinfo
            a.slider-text__link(href='/studio') Подробнее
              i.fas.fa-chevron-right
      div.slider-right.item-4
        .slider-text
          a(href='/studio').slider-text__link
            h3.slider-text__title Ателье
          .slider-text__description.
            Мы рады видеть вас в нашей творческой мастерской, где опытные мастера, конструкторы, портные воплотят в реальность вашу давнюю мечту о красивом платье, великолепном костюме, единственных и неповторимых брюках и идеально посаженой юбке. Все в нашем ателье сделано для того чтобы вы ощущали себя самой красивой и желанной.
          .slider-text__moreinfo
            a.slider-text__link(href='/studio') Подробнее
              i.fas.fa-chevron-right
    .studio__description.
      Мы рады видеть вас в нашей творческой мастерской, где опытные мастера, конструкторы, портные воплотят в реальность вашу давнюю мечту о красивом платье, великолепном костюме, единственных и неповторимых брюках и идеально посаженой юбке. Все в нашем ателье сделано для того чтобы вы ощущали себя самой красивой и желанной.
    .studio__moreinfo
      a.studio__link(href='/studio') Подробнее
    a(href='#showroom').btn-container
      .go-down.fas.fa-chevron-down
  hr
  section.owl-slider#showroom
    a(href='/showroom').showroom-main__link_main
      h3.showroom-main__title Шоурум
    .owl-carousel.owl-theme#slider-showroom
      div.slider-right.item-1
        .slider-text
          a(href='/showroom').slider-text__link
            h3.slider-text__title Шоурум
          .slider-text__description.
            Шоурум - это демонстрация качества, красоты и уровня ателье в которое вы заглянули!
            Наш шоурум сейчас находится в стадии формирования и наполнения, идет подготовка макетов,
            дизайн моделей, и наконец их пошив, чтобы изделие смогло по праву занять место именно там.
          .slider-text__moreinfo
            a.slider-text__link(href='/showroom') Подробнее
              i.fas.fa-chevron-right
      div.slider-right.item-2
        .slider-text
          a(href='/showroom').slider-text__link
            h3.slider-text__title Шоурум
          .slider-text__description.
            Шоурум - это демонстрация качества, красоты и уровня ателье в которое вы заглянули!
                        Наш шоурум сейчас находится в стадии формирования и наполнения, идет подготовка макетов,
                        дизайн моделей, и наконец их пошив, чтобы изделие смогло по праву занять место именно там.
          .slider-text__moreinfo
            a.slider-text__link(href='/showroom' ) Подробнее
              i.fas.fa-chevron-right
      div.slider-right.item-3
        .slider-text
          a(href='/showroom' ).slider-text__link
            h3.slider-text__title Шоурум
          .slider-text__description.
            Шоурум - это демонстрация качества, красоты и уровня ателье в которое вы заглянули!
                        Наш шоурум сейчас находится в стадии формирования и наполнения, идет подготовка макетов,
                        дизайн моделей, и наконец их пошив, чтобы изделие смогло по праву занять место именно там.
          .slider-text__moreinfo
            a.slider-text__link(href='/showroom' ) Подробнее
              i.fas.fa-chevron-right
      div.slider-right.item-4
        .slider-text
          a(href='/showroom').slider-text__link
            h3.slider-text__title Шоурум
          .slider-text__description.
            Шоурум - это демонстрация качества, красоты и уровня ателье в которое вы заглянули!
                        Наш шоурум сейчас находится в стадии формирования и наполнения, идет подготовка макетов,
                        дизайн моделей, и наконец их пошив, чтобы изделие смогло по праву занять место именно там.
          .slider-text__moreinfo
            a.slider-text__link(href='/showroom') Подробнее
              i.fas.fa-chevron-right
    .showroom-main__description.
      Шоурум - это демонстрация качества, красоты и уровня ателье в которое вы заглянули!
                  Наш шоурум сейчас находится в стадии формирования и наполнения, идет подготовка макетов,
                  дизайн моделей, и наконец их пошив, чтобы изделие смогло по праву занять место именно там.
    .showroom-main__moreinfo
      a.showroom-main__link(href='/showroom') Подробнее
        //i.fas.fa-chevron-right