button.header-about__menu.toggle-menu
  span.sandw
    span.sandw-top
    span.sandw-middle
    span.sandw-bottom
+screen-menu("screen-menu", [["Главная","/index"], ["О нас","/about"], ["Ткани","/tissue"], ["Ателье","/studio"],
  ["Шоурум","/showroom"], ["Галерея","/gallery"], ["Контакты","/contact"]], activeItem)