extends ../_tissue-item-template

block variables
  - var title = 'Страница не существует'

block tissue-title

  h1.banner__text.banner_404
    span Страница не найдена.
    | Возможно вы искали &nbsp;
    a.link-404(href='index.html') Главную страницу