extends ../_template

block variables
  - var title = 'Галерея'
  - var activeItem = 5

block content
  h1.main-title #{title}
  .gallery#gallery
    img.main-img(src='/images/gallery/process-9.jpg')
    ul
      li
        img.gallery-slider__img(src='/images/gallery/thumb/process-9.jpg')
      li
        img.gallery-slider__img(src='/images/gallery/thumb/process-3.jpg')
      li
        img.gallery-slider__img(src='/images/gallery/thumb/showroom-5.jpg')
      li
        img.gallery-slider__img(src='/images/gallery/thumb/process-7.jpg')
      li
        img.gallery-slider__img(src='/images/gallery/thumb/showroom-6.jpg')
      li
        img.gallery-slider__img(src='/images/gallery/thumb/showroom-7.jpg')
      li
        img.gallery-slider__img(src='/images/gallery/thumb/about-1.png')
      li
        img.gallery-slider__img(src='/images/gallery/thumb/about-2.png')
      li
        img.gallery-slider__img(src='/images/gallery/thumb/about-4.png')
      li
        img.gallery-slider__img(src='/images/gallery/thumb/about-5.png')
      li
        img.gallery-slider__img(src='/images/gallery/thumb/process-1.jpg')
      li
        img.gallery-slider__img(src='/images/gallery/thumb/process-2.jpg')
      li
        img.gallery-slider__img(src='/images/gallery/thumb/process-4.jpg')
      li
        img.gallery-slider__img(src='/images/gallery/thumb/process-5.jpg')
      li
        img.gallery-slider__img(src='/images/gallery/thumb/process-6.jpg')
      li
        img.gallery-slider__img(src='/images/gallery/thumb/studio-1.jpg')
      li
        img.gallery-slider__img(src='/images/gallery/thumb/studio-2.jpg')
      li
        img.gallery-slider__img(src='/images/gallery/thumb/process-8.jpg')
