extends ../_tissue-item-template

block variables
  - var title = 'Хлопок, лен - Наименования'
  - var activeTissue = 'Хлопок, лен'
  - var activeTissueUrl = 'assets/img/tissue-page/feb76-1920.jpg'

block tissue-title
  h1.banner__text #{activeTissue}

block content
  .barhat-wrapper#hlopok
    .container
      a(href='#').barhat__img.item-1
        .barhat__header
          h2.barhat__title Название
          h3.barhat__index Артикул №84248
      a(href='#').barhat__img.item-2
        .barhat__header
          h2.barhat__title Название
          h3.barhat__index Артикул №84248
      a(href='#').barhat__img.item-3
        .barhat__header
          h2.barhat__title Название
          h3.barhat__index Артикул №84248
      a(href='#').barhat__img.item-4
        .barhat__header
          h2.barhat__title Название
          h3.barhat__index Артикул №84248
      a(href='#').barhat__img.item-5
        .barhat__header
          h2.barhat__title Название
          h3.barhat__index Артикул №84248
      a(href='#').barhat__img.item-6
        .barhat__header
          h2.barhat__title Название
          h3.barhat__index Артикул №84248
      a(href='#').barhat__img.item-7
        .barhat__header
          h2.barhat__title Название
          h3.barhat__index Артикул №84248
      a(href='#').barhat__img.item-8
        .barhat__header
          h2.barhat__title Название
          h3.barhat__index Артикул №84248
      a(href='#').barhat__img.item-9
        .barhat__header
          h2.barhat__title Название
          h3.barhat__index Артикул №84248
      a(href='#').barhat__img.item-10
        .barhat__header
          h2.barhat__title Название
          h3.barhat__index Артикул №84248
      a(href='#').barhat__img.item-11
        .barhat__header
          h2.barhat__title Название
          h3.barhat__index Артикул №84248
      a(href='#').barhat__img.item-12
        .barhat__header
          h2.barhat__title Название
          h3.barhat__index Артикул №84248
      a(href='#').barhat__img.item-13
        .barhat__header
          h2.barhat__title Название
          h3.barhat__index Артикул №84248
      a(href='#').barhat__img.item-14
        .barhat__header
          h2.barhat__title Название
          h3.barhat__index Артикул №84248
      a(href='#').barhat__img.item-15
        .barhat__header
          h2.barhat__title Название
          h3.barhat__index Артикул №84248
      a(href='#').barhat__img.item-16
        .barhat__header
          h2.barhat__title Название
          h3.barhat__index Артикул №84248
      a(href='#').barhat__img.item-17
        .barhat__header
          h2.barhat__title Название
          h3.barhat__index Артикул №84248