extends ../_tissue-item-template

block variables
  - var title = 'Жакард - Наименования'
  - var activeTissue = 'Жакард'
  - var activeTissueUrl = 'assets/img/tissue-page/feb41-1920.jpg'

block tissue-title
  h1.banner__text #{activeTissue}

block content
  .barhat-wrapper#jakard
    .container
      a(href='#').barhat__img.item-1
        .barhat__header
          h2.barhat__title Название
          h3.barhat__index Артикул №84248
      a(href='#').barhat__img.item-2
        .barhat__header
          h2.barhat__title Название
          h3.barhat__index Артикул №84248
      a(href='#').barhat__img.item-3
        .barhat__header
          h2.barhat__title Название
          h3.barhat__index Артикул №84248
      a(href='#').barhat__img.item-4
        .barhat__header
          h2.barhat__title Название
          h3.barhat__index Артикул №84248
      a(href='#').barhat__img.item-5
        .barhat__header
          h2.barhat__title Название
          h3.barhat__index Артикул №84248
      a(href='#').barhat__img.item-6
        .barhat__header
          h2.barhat__title Название
          h3.barhat__index Артикул №84248
      a(href='#').barhat__img.item-7
        .barhat__header
          h2.barhat__title Название
          h3.barhat__index Артикул №84248
      a(href='#').barhat__img.item-8
        .barhat__header
          h2.barhat__title Название
          h3.barhat__index Артикул №84248
      a(href='#').barhat__img.item-9
        .barhat__header
          h2.barhat__title Название
          h3.barhat__index Артикул №84248
      a(href='#').barhat__img.item-10
        .barhat__header
          h2.barhat__title Название
          h3.barhat__index Артикул №84248
      a(href='#').barhat__img.item-11
        .barhat__header
          h2.barhat__title Название
          h3.barhat__index Артикул №84248
      a(href='#').barhat__img.item-12
        .barhat__header
          h2.barhat__title Название
          h3.barhat__index Артикул №84248
      a(href='#').barhat__img.item-13
        .barhat__header
          h2.barhat__title Название
          h3.barhat__index Артикул №84248
      a(href='#').barhat__img.item-14
        .barhat__header
          h2.barhat__title Название
          h3.barhat__index Артикул №84248
      a(href='#').barhat__img.item-15
        .barhat__header
          h2.barhat__title Название
          h3.barhat__index Артикул №84248
      a(href='#').barhat__img.item-16
        .barhat__header
          h2.barhat__title Название
          h3.barhat__index Артикул №84248
      a(href='#').barhat__img.item-17
        .barhat__header
          h2.barhat__title Название
          h3.barhat__index Артикул №84248
      a(href='#').barhat__img.item-18
        .barhat__header
          h2.barhat__title Название
          h3.barhat__index Артикул №84248
      a(href='#').barhat__img.item-19
        .barhat__header
          h2.barhat__title Название
          h3.barhat__index Артикул №84248
      a(href='#').barhat__img.item-20
        .barhat__header
          h2.barhat__title Название
          h3.barhat__index Артикул №84248
      a(href='#').barhat__img.item-21
        .barhat__header
          h2.barhat__title Название
          h3.barhat__index Артикул №84248
      a(href='#').barhat__img.item-22
        .barhat__header
          h2.barhat__title Название
          h3.barhat__index Артикул №84248
      a(href='#').barhat__img.item-23
        .barhat__header
          h2.barhat__title Название
          h3.barhat__index Артикул №84248
      a(href='#').barhat__img.item-24
        .barhat__header
          h2.barhat__title Название
          h3.barhat__index Артикул №84248
      a(href='#').barhat__img.item-25
        .barhat__header
          h2.barhat__title Название
          h3.barhat__index Артикул №84248
      a(href='#').barhat__img.item-26
        .barhat__header
          h2.barhat__title Название
          h3.barhat__index Артикул №84248
      a(href='#').barhat__img.item-27
        .barhat__header
          h2.barhat__title Название
          h3.barhat__index Артикул №84248
      a(href='#').barhat__img.item-28
        .barhat__header
          h2.barhat__title Название
          h3.barhat__index Артикул №84248
      a(href='#').barhat__img.item-29
        .barhat__header
          h2.barhat__title Название
          h3.barhat__index Артикул №84248
      a(href='#').barhat__img.item-30
        .barhat__header
          h2.barhat__title Название
          h3.barhat__index Артикул №84248
      a(href='#').barhat__img.item-31
        .barhat__header
          h2.barhat__title Название
          h3.barhat__index Артикул №84248
      a(href='#').barhat__img.item-32
        .barhat__header
          h2.barhat__title Название
          h3.barhat__index Артикул №84248
      a(href='#').barhat__img.item-33
        .barhat__header
          h2.barhat__title Название
          h3.barhat__index Артикул №84248
      a(href='#').barhat__img.item-34
        .barhat__header
          h2.barhat__title Название
          h3.barhat__index Артикул №84248
      a(href='#').barhat__img.item-35
        .barhat__header
          h2.barhat__title Название
          h3.barhat__index Артикул №84248
      a(href='#').barhat__img.item-36
        .barhat__header
          h2.barhat__title Название
          h3.barhat__index Артикул №84248
      a(href='#').barhat__img.item-37
        .barhat__header
          h2.barhat__title Название
          h3.barhat__index Артикул №84248
      a(href='#').barhat__img.item-38
        .barhat__header
          h2.barhat__title Название
          h3.barhat__index Артикул №84248
      a(href='#').barhat__img.item-39
        .barhat__header
          h2.barhat__title Название
          h3.barhat__index Артикул №84248
      a(href='#').barhat__img.item-40
        .barhat__header
          h2.barhat__title Название
          h3.barhat__index Артикул №84248
      a(href='#').barhat__img.item-41
        .barhat__header
          h2.barhat__title Название
          h3.barhat__index Артикул №84248
      a(href='#').barhat__img.item-42
        .barhat__header
          h2.barhat__title Название
          h3.barhat__index Артикул №84248
      a(href='#').barhat__img.item-43
        .barhat__header
          h2.barhat__title Название
          h3.barhat__index Артикул №84248
      a(href='#').barhat__img.item-44
        .barhat__header
          h2.barhat__title Название
          h3.barhat__index Артикул №84248
      a(href='#').barhat__img.item-45
        .barhat__header
          h2.barhat__title Название
          h3.barhat__index Артикул №84248
      a(href='#').barhat__img.item-46
        .barhat__header
          h2.barhat__title Название
          h3.barhat__index Артикул №84248
      a(href='#').barhat__img.item-48
        .barhat__header
          h2.barhat__title Название
          h3.barhat__index Артикул №84248
      a(href='#').barhat__img.item-49
        .barhat__header
          h2.barhat__title Название
          h3.barhat__index Артикул №84248
      a(href='#').barhat__img.item-50
        .barhat__header
          h2.barhat__title Название
          h3.barhat__index Артикул №84248
      a(href='#').barhat__img.item-51
        .barhat__header
          h2.barhat__title Название
          h3.barhat__index Артикул №84248
      a(href='#').barhat__img.item-52
        .barhat__header
          h2.barhat__title Название
          h3.barhat__index Артикул №84248
      a(href='#').barhat__img.item-53
        .barhat__header
          h2.barhat__title Название
          h3.barhat__index Артикул №84248
      a(href='#').barhat__img.item-54
        .barhat__header
          h2.barhat__title Название
          h3.barhat__index Артикул №84248
      a(href='#').barhat__img.item-55
        .barhat__header
          h2.barhat__title Название
          h3.barhat__index Артикул №84248
      a(href='#').barhat__img.item-56
        .barhat__header
          h2.barhat__title Название
          h3.barhat__index Артикул №84248
      a(href='#').barhat__img.item-57
        .barhat__header
          h2.barhat__title Название
          h3.barhat__index Артикул №84248
      a(href='#').barhat__img.item-58
        .barhat__header
          h2.barhat__title Название
          h3.barhat__index Артикул №84248
      a(href='#').barhat__img.item-59
        .barhat__header
          h2.barhat__title Название
          h3.barhat__index Артикул №84248
      a(href='#').barhat__img.item-60
        .barhat__header
          h2.barhat__title Название
          h3.barhat__index Артикул №84248
      a(href='#').barhat__img.item-61
        .barhat__header
          h2.barhat__title Название
          h3.barhat__index Артикул №84248
      a(href='#').barhat__img.item-62
        .barhat__header
          h2.barhat__title Название
          h3.barhat__index Артикул №84248
      a(href='#').barhat__img.item-63
        .barhat__header
          h2.barhat__title Название
          h3.barhat__index Артикул №84248
      a(href='#').barhat__img.item-64
        .barhat__header
          h2.barhat__title Название
          h3.barhat__index Артикул №84248
      a(href='#').barhat__img.item-65
        .barhat__header
          h2.barhat__title Название
          h3.barhat__index Артикул №84248
      a(href='#').barhat__img.item-66
        .barhat__header
          h2.barhat__title Название
          h3.barhat__index Артикул №84248
      a(href='#').barhat__img.item-67
        .barhat__header
          h2.barhat__title Название
          h3.barhat__index Артикул №84248
      a(href='#').barhat__img.item-68
        .barhat__header
          h2.barhat__title Название
          h3.barhat__index Артикул №84248
      a(href='#').barhat__img.item-69
        .barhat__header
          h2.barhat__title Название
          h3.barhat__index Артикул №84248