extends ../_template

block variables
  - var title = 'Ателье'
  - var activeItem = 3

block content
  h1.main-title #{title}
  .studio-wrapper
    .studio
      .studio__img.item-1
      .studio__text
        p(style='text-align: center') Добро пожаловать в наш бутик-ателье &#171;Mendosa&#187;!
        p Мы рады видеть вас в нашей творческой мастерской, где опытные мастера, конструкторы, портные воплотят в реальность вашу давнюю мечту о красивом платье, великолепном костюме, единственных и неповторимых брюках и идеально посаженой юбке
    hr
    .studio.studio_reverse
      .studio__img.item-2
      .studio__text
        p Все в нашем ателье сделано для того чтобы вы ощущали себя самой красивой и желанной. Что нужно нам женщинам от одежды?
    hr
    .studio
      .studio__img.item-3
      .studio__text
        p Чтобы она подчеркивала достоинства, скрывала недостатки, чтобы цвет платья был к лицу, строчки были ровными, чтобы в платье было комфортно находиться и в рабочей обстановке и на отдыхе
    hr
    .studio.studio_reverse
      .studio__img.item-4
      .studio__text
        p Большой выбор высококачественной ткани и фурнитуры представленный в нашем бутике, удовлетворит самый взыскательный вкус
    hr
    .studio
      .studio__img.item-5
      .studio__text
        p Наш консультант, конструктор подберут вам ткань, предложат фасон, а в случае если у вас есть свои идеи, постараются понять и исполнить их в самом высоком качестве
    hr
    .studio.studio_reverse
      .studio__img.item-6
      .studio__text
        p Время изготовление изделия от выбора ткани до 100 % готовности 2-3 недели. При желании есть возможность срочного пошива(1-3 дня).
    hr
    .studio
      .studio__img.item-7
      .studio__text
        p Также среди услуг нашего ателье ремонт одежды, реставрация меха, утюжка. В случае необходимости мы можем доставить изделия к вам на дом
    hr
    .studio.studio_reverse
      .studio__img.item-8
      .studio__text
        p Кроме того осуществляем выезд к клиенту для оформления заказа, примерки (дополнительная оплата)
    hr
    .studio
      .studio__img.item-9
      .studio__text
        p Мы очень любим нашу работу, гордимся отзывами о нас, ценим каждого клиента, потому-что в нашей команде настоящие профессионалы своего дела
