extends ../_template

block variables
  - var title = 'Ткани'
  - var activeItem = 2

block content
  .tissue-wrapper
    .tissue.barhat
      .tissue__img
      .tissue__description
        h2.tissue__title Бархат
        .tissue__text.
          Актуальный бархат представлен у нас в широкой цветовой гамме и разнообразный по составу: шелковый, хлопковый, с люрексом, набивной.
          Изделия из натурального бархата наиболее женственны и роскошны
        .tissue__link
          a.tissue__url(href='/barhat') Подробнее
      a.cover-link(href='/barhat')
    .tissue.tvid
      .tissue__img
      .tissue__description
        h2.tissue__title Твид (Шанель)
        .tissue__text.
          Твид завоевал все подиумы мира и у каждого модельера обязательно представлено
          несколько моделей из этой ткани. Предлагаем вам большое разнообразие твида,
          а мастерство наших портных сделает свое дело
        .tissue__link
          a.tissue__url(href='/tvid') Подробнее
      a.cover-link(href='/tvid')
    .tissue-reverse.shelk
      .tissue__img
      .tissue__description
        h2.tissue__title Шелк
        .tissue__text.
          Большой ассортимент великолепного итальянского шелка: шелк-стрейтч,
          твил, шелк-кади, дэворе, шелк с вискозой, батист-шелк, дюпон, дюшес, набивной
          шелк, однотонный
        .tissue__link
          a.tissue__url(href='/shelk') Подробнее
        a.cover-link(href='/shelk')
    .tissue-reverse.shifon
      .tissue__img
      .tissue__description
          h2.tissue__title Шифон
          .tissue__text.
            Легкий, струящийся, воздушный, подчеркивает женственность как никакой другой
            материал. Присутствует вне моды - популярен всегда
          .tissue__link
            a.tissue__url(href='/shifon') Подробнее
      a.cover-link(href='/shifon')
    .tissue.gipur
      .tissue__img
      .tissue__description
        h2.tissue__title
          | Гипюр,
          | Кружево
        .tissue__text.
          Легкий, струящийся, воздушный, подчеркивает женственность как никакой другой
          материал. Присутствует вне моды - популярен всегда
        .tissue__link
          a.tissue__url(href='/gipur') Подробнее
      a.cover-link(href='/gipur')
    .tissue.hlopok
      .tissue__img
      .tissue__description
        h2.tissue__title Хлопок, Лен
        .tissue__text.
          Идеален для ежедневной одежды. Из представленого в нашем магазине хлопок-стейтч,
          микрохлопок, хлопок-лен, хлопок-сатин, хлопок-атлас. Изделия из хлопка гипоаллергенны.
        .tissue__link
          a.tissue__url(href='/hlopok') Подробнее
      a.cover-link(href='/hlopok')
    .tissue-reverse.jakard
      .tissue__img
      .tissue__description
        h2.tissue__title Жаккард
        .tissue__text.
          Ткань со своеобразным рельефным рисунком, который получается в результате сложного
          переплетения основных и уточных нитей. Одежда из жаккарда смотрится дорого, сложно и стильно.
        .tissue__link
          a.tissue__url(href='/jakard') Подробнее
      a.cover-link(href='/jakard')
    .tissue-reverse.kletka
      .tissue__img
      .tissue__description
        h2.tissue__title Клетка
        .tissue__text.
          Изделия, сшитые из клеточной ткани, наиболее востребованы в этом сезоне.
          Пиджаки, брюки, платья, жилеты, пальто - ткань для любой из этих вещей вы
          непременно сможете подобрать у нас
        .tissue__link
          a.tissue__url(href='/kletka') Подробнее
      a.cover-link(href='/kletka')
    .tissue.trikotaj
      .tissue__img
      .tissue__description
        h2.tissue__title Трикотаж
        .tissue__text.
          Платье, блузка, туника, майка из трикотажа - незаменимая вещь любого
          гардероба. Изделия из трикотажа просты в уходе, воздухопроницаемы,
          немнущиеся. Подойдет для любого события
        .tissue__link
          a.tissue__url(href='/trikotaj') Подробнее
      a.cover-link(href='/trikotaj')
    .tissue.podkladka
      .tissue__img
      .tissue__description
        h2.tissue__title Подкладочная ткань
        .tissue__text.
          Именные подкладочные ткани(Max Mara, Bluegirl, Armani и т.д.)
          Подкладочная ткань украсит ваше индивидуальное изделие изнутри
        .tissue__link
          a.tissue__url(href='/podkladka') Подробнее
      a.cover-link(href='/podkladka')
    .tissue-reverse.drap
      .tissue__img
      .tissue__description
        h2.tissue__title Драп, Сукно, Кашемир
        .tissue__text.
          100% натуральные шерстяные ткани: драп, альпака, лана, кашемир,
          кашемир дабл фэйс от ведущих домов моды Valentino, Max Mara, Loro Piano
        .tissue__link
          a.tissue__url(href='/drap') Подробнее
      a.cover-link(href='/drap')
    .tissue-reverse.costume
      .tissue__img
      .tissue__description
        h2.tissue__title Костюмные ткани
        .tissue__text.
          Именные костюмные ткани от итальянских модельеров.
          Костюмы из нашей ткани, сделанные нашими мастерами подойдут для
          светского мероприятия самого высокого уровня
        .tissue__link
          a.tissue__url(href='/costume') Подробнее
      a.cover-link(href='/costume')
    .tissue.furniture
      .tissue__img
      .tissue__description
        h2.tissue__title Фурнитура
        .tissue__text.
          Большой выбор оригнальных пуговиц Dolce&Gabbana, Miu Miu, Dior. Кружева
          шантильи, кордовое, хлопковое, льняное. Металлизированные декоративные
          тесьмы Brunello Cucinelli
        .tissue__link
          a.tissue__url(href='/furniture') Подробнее
      a.cover-link(href='/furniture')
